<div class="jumbotron" style="position:relative;" class="bodyBgColor">
    <div class="text-center">
        <h1 class="display-4">Michael Schreiber</h1>
        <h3>Software Engineer </h3>
    </div>

    <div style="position:absolute; bottom: 5px; right:10px;">
        <a href="https://www.linkedin.com/in/mpschreib/" target="_blank">
            <img src="../../assets/linkedinlogo.png" alt="linkedin profile" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a href="https://github.com/UltraLas3r"  target="_blank">
            <img src="../../assets/githublogo.png" alt="github profile" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>
