<nav class="navbar-expand-md mb-3 justify-content-center" style="padding-top: 3px; padding-bottom: 3px;" id="navBar" >
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item" [ngClass]="{'selectedItem': selectedNavBarItem === 'Home'}">
                <a class="nav-link text-secondary" id="navbarTab" class="pill-shaped" routerLink="/home" routerLinkActive="" 
                (click)="selectedItem('Home');" [ngStyle]="{'background-color': selectedNavBarItem === 'Home' ? '#707C88' : backgroundColor}">Home</a>
            </li>
            <li class="nav-item"  [ngClass]="{'selectedItem': selectedNavBarItem === 'Portfolio'} ">
                <a  class="nav-link text-secondary" id="navbarTab" class="pill-shaped" routerLink="/portfolio" 
                (click)="selectedItem('Portfolio');" [ngStyle]="{'background-color': selectedNavBarItem === 'Portfolio' ? '#707C88' : backgroundColor}">Portfolio</a>
            </li>
            <li class="nav-item" [ngClass]="{'selectedItem': selectedNavBarItem === 'Resume'}">
                <a  class="nav-link text-secondary"  id="navbarTab" class="pill-shaped" routerLink="/resume" 
                (click)="selectedItem('Resume');" [ngStyle]="{'background-color': selectedNavBarItem === 'Resume' ? '#707C88' : backgroundColor}">Resume</a>
            </li>
            <li class="nav-item" [ngClass]="{'selectedItem': selectedNavBarItem === 'Contact'}">
                <a [ngStyle]="{'background-color': backgroundColor}" class="nav-link text-secondary"  id="navbarTab" class="pill-shaped" routerLink="/contact" 
                (click)="selectedItem('Contact');" [ngStyle]="{'background-color': selectedNavBarItem === 'Contact' ? '#707C88' : backgroundColor}">Contact</a>
            </li>
        </ul>
    </div>
