<nav class="navbar-expand-md border-bottom mb-3" id="navbarBackground">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" id="navbarTab" class="pill-shaped">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" id="navbarTab" class="pill-shaped">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" id="navbarTab" class="pill-shaped">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" id="navbarTab" class="pill-shaped">Contact</a>
            </li>
        </ul>
    </div>