#navbarTab{
    background-color: rgb(115, 115, 175);
    font-weight: bold;
    color: black;
}

.nav-item.selectedItem {
    background-color: rgb(228, 217, 210);
    font-weight: bold;
    color: black;
}

#navbarBackground{
    background-color: antiquewhite;
}

.pill-shaped {
    display: inline-block;
    padding: 5px 20px 5px 20px ; /* Adjust padding as needed */
    margin: 5px 5px 5px 5px;
    border-radius: 75px; /* Use a value equal to half of the element's height to create a pill shape */
  }

  #btn-click {

  }

