<div class="container">
    <div class="text-center mb-4 shadow border-gilding">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <b>michaelpschreiber&#64;gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>

    </div>

    <div class="list-group shadow border-gilding">
        <a href="https://www.linkedin.com/in/mpschreib/" class="list-group-item list-groupitem-action d-flex gap-3 py3" target="_blank">
            <img src="../../assets/linkedinlogo.png" alt="linkedin profile" class="contactIcons rounded-circle flex-shrink-0 me-5">
            <h3 mb="0">Linkedin</h3>
        </a>

        <a href="https://github.com/UltraLas3r" class="list-group-item list-groupitem-action d-flex gap-3 py3" target="_blank">
            <img src="../../assets/githublogo.png" alt="" class="contactIcons rounded-circle flex-shrink-0 me-5" >
            <h3 mb="0">Github</h3>
        </a>
    </div>
</div>