<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border pill-shaped">Download PDF Resume</button>

     <!-- <accordion>
        <accordion-group heading="Work Experience">      </accordion-group>
        <accordion-group heading="Education">
        </accordion-group>
        <accordion-group heading="Skills">
        </accordion-group>
        <accordion-group heading="Certifications">
        </accordion-group>
    </accordion>  -->

</div>
