
.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.pill-shaped {
    display: inline-block;
    padding: 5px 20px 5px 20px ; /* Adjust padding as needed */
    margin: 5px 5px 5px 5px;
    border-radius: 75px; /* Use a value equal to half of the element's height to create a pill shape */
  }
  