
.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
}

.pill-shaped {
    display: inline-block;
    padding: 5px 20px 5px 20px ; /* Adjust padding as needed */
    margin: 5px 5px 5px 5px;
    border-radius: 75px; /* Use a value equal to half of the element's height to create a pill shape */
  }

  .bodyBgColor {
    background-color: #050F1B;
  }

  body {
    background-color: #202A46;
    color: white;
  }
  
  .border-gilding {
    --b: 5px;   /* thickness of the border */
    --c: #FF3366;   /* color of the border */
    --w: 20px;  /* width of border */
    
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;

    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  }