<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center"> 
                <h2>About Me </h2> 
                <!-- <img src="../../assets/websitepic.png" alt="profile picture" width="250" height ="235" class="rounded-circle"> -->
                <img src="../../assets/selfportrait.png" alt="profile picture" width="250" height ="235" class="rounded-circle">
                <p> insert some description here</p>
                <p> insert some description here</p>
            </div>
         

        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <hr>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide> <img src={{picture}}  alt="slide" style="display: block; width: 100%;"> </slide>
                </div>
            </carousel>
            <p class="mt-3">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to learn more.</p>

        </div>
    </div>
</div>
