<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center"> 
                <h2>About Me </h2> 
                <!-- <img src="../../assets/websitepic.png" alt="profile picture" width="250" height ="235" class="rounded-circle"> -->
                <img src="../../assets/lolwebsiteheadshot.png" alt="profile picture" width="250" height ="235" class="rounded-circle">
                <p> insert some description here</p>
                <p> insert some description here</p>
            </div>
         

        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <hr>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
